<div class="container">
  <div class="wheel-full" id="ones-wheel">
    <span class="s1"><b>1</b></span>
    <span class="s2"><b>2</b></span>
    <span class="s3"><b>3</b></span>
    <span class="s4"><b>4</b></span>
    <span class="s5"><b>5</b></span>
    <span class="s6"><b>6</b></span>
    <span class="s7"><b>7</b></span>
    <span class="s8"><b>8</b></span>
    <span class="s9"><b>9</b></span>
    <span class="s10"><b>0</b></span>
    <span class="s-1"><b>-1</b></span>
    <span class="s-2"><b>-2</b></span>
    <span class="s-3"><b>-3</b></span>
    <span class="s-4"><b>-4</b></span>
    <span class="s-5"><b>-5</b></span>
    <span class="s-6"><b>-6</b></span>
    <span class="s-7"><b>-7</b></span>
    <span class="s-8"><b>-8</b></span>
    <span class="s-9"><b>-9</b></span>
    <span class="s-10"><b>0</b></span>
  </div>

  <div class="ones-ticker"></div>

  <button class="spin" id="ones-button" (click)="spinOnesWheel()">SPIN</button>

</div>
<!-- <h1 *ngIf="value != null">The result is {{ value }}!</h1> -->